/*
 * Union College Brand Colors
 */

// Primary Union College Colors
$union-garnet: #762334;
$union-garnet-light: #8d2d40;
$union-garnet-dark: #5A1222;
$gate-black: #000000;
$ramee-gray: #636569;

/*
 * Customization Variables
 */

$accent: $union-garnet;
$accent-light: $union-garnet-light;
$accent-dark: $union-garnet-dark;
$text-color: #333333;
$text-muted: $ramee-gray;
$bg-color: #ffffff;
$image-size: 150px;

/*
 * Build Variables, don't touch
 */

$max-width: 900px;
$med-width: 700px;
$small-width: 480px;
